@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 10, 10, 10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Utility classes */
.text-profit {
  color: #00c853;
}

.text-loss {
  color: #ff1744;
}

.bg-profit {
  background-color: #00c853;
}

.bg-loss {
  background-color: #ff1744;
}
